<?php
/*
inside head tags
*/
$helper = $this->helper('Socialweb\Rodeo\Helper\Data');
$showJSHeader = $helper->getConfigValue('customcssjssettings/general_settings/enablejsheader');
$jsheader= $helper->getConfigValue('customcssjssettings/general_settings/jsheader');
$showCSS = $helper->getConfigValue('customcssjssettings/general_settings/enablecss');
$css= $helper->getConfigValue('customcssjssettings/general_settings/css');
if($showCSS){
    ?>
    <style>
        <?php echo $css; ?>
    </style>	
<?php } ?>
<?php
if($showJSHeader){
?>
    <script type="text/javascript">
        <?php echo $jsheader; ?>
    </script>	
<?php }?>